<ion-view title="Match">
    <ion-content class="match" padding="true" scroll="false">
        <table class="match-heart-container">
            <tr>
                <td>
                    <p class="match-heart">
                        &hearts; 
                    </p>
                </td>
                <td>
                    <p class="match-heart">
                        &hearts; 
                    </p>
                </td>
            </tr>
        </table>
        <p>
            <img class="match-image" ng-src="{{ picture }}" />
        </p>
        <h1 class="match-name">{{ name }}</h1>
    </ion-content>
</ion-view>
